[Unit]
Description=start postinst script upon first boot

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'sleep 1 ; /usr/sbin/tedge/preinst'
ExecStart=/bin/sh -c 'sleep 1 ; /usr/sbin/tedge/postinst'

[Install]
WantedBy=multi-user.target