[Unit]
Description=start postinst c8y configuration plugin script upon first boot
BindsTo=postinst-tedge-agent.service
After=postinst-tedge-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'sleep 1 ; /usr/sbin/c8y-configuration-plugin/postinst'

[Install]
WantedBy=multi-user.target