[Unit]
Description=start postinst tedge mapper script upon first boot
Requires=postinst-tedge.service
After=postinst-tedge.service run-postinsts.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'sleep 1 ; /usr/sbin/tedge-mapper/postinst'

[Install]
WantedBy=multi-user.target