[Unit]
Description=start postinst script upon first boot
Requires=postinst-tedge-mapper.service
After=postinst-tedge-mapper.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'sleep 1 ; /usr/sbin/tedge-agent/postinst'

[Install]
WantedBy=multi-user.target