[Unit]
Description=start postinst tedge agent script upon first boot
BindsTo=postinst-tedge-mapper.service
After=postinst-tedge-mapper.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'sleep 1 ; /usr/sbin/tedge-agent/postinst'

[Install]
WantedBy=multi-user.target