[Unit]
Description=start postinst script upon first boot

[Service]
Type=simple
ExecStart=/bin/sh -c 'sleep 5 ; /usr/sbin/tedge-agent/postinst'

[Install]
WantedBy=multi-user.target